.col-md-offset-left-1{
    margin-left: 8.333333333%;
}
.col-md-offset-left-3{
    margin-left: 25%;
}
.navbar-custom{
    background: #f8f8f8;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07000000000000001);
    border: none;
    border-radius: 0;
    margin-bottom: 0;

}
.navbar-custom .navbar-nav li a {
    color: #232323;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(http://placehold.it/1920x1080) no-repeat center center fixed;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
.intro-message > h1, .intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.btn-custom, .plans-pricing .btn-primary, .plans-pricing .btn-primary:hover{
    background-color: transparent;
    border: 2px solid #b98a2c !important;
    padding: 10px 30px;
    color: #b98a2c;
}
.btn-custom:hover, .btn-primary:hover{
    background-color: #b98a2c;
    color: white;
}
.intro-message .btn-custom{
    margin-top: 30px;
}


.intro{
    background-color: white;
    padding:80px 0;
}
.intro h2{
    padding: 0 250px;
    color: #b98a2c;
    line-height: 40px;
    margin-bottom: 20px;
}
.intro p{
    padding: 0 200px;
    font-weight: 300;
    line-height: 36px;
}

.desc{
    background-color: #fbf9f4;
    padding: 10% 50px;
}
.desc h2{
    color: #b98a2c;
}
.desc p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.fb-page{
    background-color: #b98a2c;
    padding:80px 0;
    color: white;
}
.fb-page .btn-custom{
    background-color: white;
    margin-top: 20px;
}
.fb-page .btn-custom:hover{
    color: #b98a2c;
    background-color: #f6f6f6;
}
.fb-page .btn-custom .fa{
    font-size: 24px;
    margin-right: 10px;
}
.fb-page h3{
    line-height: 1.4;
}

footer{
    padding: 80px 0;
    background-color: white;
}
footer a{
    font-size: 20px;
    color: #b98a2c;
}
footer a:hover{
    text-decoration: none;
    color: #232323;
}
.copyright{
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
}

.plans-pricing-page .navbar-custom, .contact-page .navbar-custom{
    border-bottom: 1px solid #ccc;
}
.plans-pricing-page .page-title{
    padding: 50px 0 0 0;
    text-align: center;
}
.plans-pricing{
    padding: 30px 0 80px 0;
}
.plans-pricing h2{
    margin-bottom: 30px;
}
.plans .title{
    color: #b98a2c;
}
.plans-desc{
    margin: 30px 0;
}
.plans-desc p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    padding: 0 24px;
}

.plans-pricing .btn{
    font-size: 18px;
    font-weight: bold;
}
.plans-time{
    margin-bottom: 30px;
}
.plans-pricing .btn-primary{
    background-color: #b98a2c;
    color: white;
}

.membership-perks{
    padding: 80px 0 50px 0;
    background-color: #f8f8f8;
}
.membership-perks .table-responsive{
    margin-top: 40px;
}
.table>tbody>tr>td, .table>tbody>tr>th{
    border:none;
}
tr, td, th{
    font-size: 16px;
    font-weight: 300;
    margin:0 !important;
    padding: 0 !important;
}
th{
    width: 33.333333333%;
    vertical-align: middle !important;
}
td{
    width: 16.6666666667%;
}
td h4, th h4{
    color: #b98a2c;
}

.perk td{
    padding: 20px 0 !important;
}
.training td{
    width: 66.666666667%
}
.contact-form{
    padding: 80px 0;
}
.contact-form label{
    margin-top: 20px;
}
.contact-form .btn-custom{
    margin-top: 40px;
}
.contact-info{
    padding: 80px 0;
    background-color: #f8f8f8;
}
.contact-info .title{
    margin-bottom: 30px;
}
.contact-info h4{
    font-weight: 300;
}
.contact-info h3{
    color: #b98a2c;
}
.contact-info p, .contact-info a{
    font-size: 16px;
    font-weight: 300;
}
.contact-page .fb-page{
    padding: 30px 0;
}
.contact-page .fb-page h3{
    display: inline-block;
}
.contact-page .fb-page .btn-custom{
    margin-top: -5px;
    margin-left: 20px;
}
.map iframe{
    width: 100%;
    height: 500px;
    pointer-events: none;
}
.map iframe.clicked{
    pointer-events: auto;
}